# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# More
.DS_Store
Archive
mouse
SupTables
Figures
.ipynb_checkpoints

data_for_import/Matrices/*
data_for_import/scATAC
data_for_import/NicheNet
data_for_import/CUT&Tag/bam
data_for_import/CUT&Tag/peak

output/SupTables
output/DE
output/RDS
output/Figures
output/NicheNet
output/Networks
output/scVI/*.h5ad
output/SCENIC
output/Palantir
output/CUT&Tag
output/H5AD


## Even More
00_Initialize_Project.R



